# Neon PostgreSQL Connection
DATABASE_URL=postgresql://neondb_owner:npg_Nk5i6YZTQMrK@ep-winter-pond-aoocy34n-pooler.c-2.ap-southeast-1.aws.neon.tech/printer_monitor?sslmode=require&channel_binding=require
# Optional: Individual connection parameters
DB_HOST=ep-winter-pond-aoocy34n-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=printer_monitor
DB_USER=neondb_owner
DB_PASSWORD=npg_Nk5i6YZTQMrK
DB_SSLMODE=require
